html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  background-color: pink; }

.container {
  background-color: white;
  margin-left: auto;
  margin-right: auto; }
